# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MultiRobotExploration.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Repositories\MultiRobotExploration\.idea\.idea.MultiRobotExploration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
